.container {
  display: flex;
  max-width: 600px;
  width: 100%;
  gap: 24px;
  align-items: center;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 12px 16px;
  border-radius: 8px;
  min-height: 50px;
  justify-content: space-between;
  box-shadow: 2px 2px 12px 0px #242f7b26;
  margin-bottom: 5px;
  .text {
    font-size: 24px;
    font-weight: 400;
  }
  .check {
    @extend .text;
    text-decoration: line-through;
    color: gray;
    font-weight: 300;
  }
}
.checkTask {
  @extend .container;
}
