.container {
  display: flex;
  max-width: 600px;
  width: 100%;
  gap: 24px;
  align-items: center;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 12px 16px;
  border-radius: 8px;
  min-height: 50px;
  justify-content: space-between;
  box-shadow: 2px 2px 12px 0px #242f7b26;
  margin-bottom: 5px;
  .text {
    font-size: 24px;
    font-weight: 400;
    max-width: 460px;
    width: 100%;
    min-height: 50px;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
  }
  img {
    cursor: pointer;
  }
  .check {
    @extend .text;
    text-decoration: line-through;
    color: gray;
    font-weight: 300;
  }
}
.checkTask {
  @extend .container;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 12px 0px;
    justify-content: center;
    .text {
      max-width: 300px;
    }
  }
}
@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
